.checkoutProduct {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 90%;
    p {
        margin: 0;
    }
    .checkoutProduct__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        .checkoutProduct__top {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    .checkoutProduct__image {
        max-width: 200px;
        max-height: auto;
        padding-right: 16px;
    }
    .remove-button {
        display: flex;
        align-items: center;
        svg {
            color: red;
        }
    }
    button {
        padding: 0;
    }
    .checkoutProduct__button {
        display: flex;
        align-items: center;
        position: relative;
        left: -6px;
    }
}