.order {
    .order__image {
        position: relative;
        top: -100px;
        width: 100%;
        height: 100vh;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        margin-bottom: -200px;
    }
    .order__row {
        z-index: 1;
        width: 77vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .order__checkout {
        // position: fixed;
        position: fixed;
        height: 100vh;
        width: 20vw;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        background: #fff;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        z-index: 10;
        display: flex;
        flex-direction: column;
        padding: 16px; // box-shadow: 0 20px 50px -14px rgba(0, 0, 0, 0.3);
        padding-top: 60px;
        .order {
            margin: 0;
            width: 100%;
            font-weight: bold;
            margin-bottom: 16px;
        }
        .checkout__basket {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-radius: 5px;
            padding: 10px 16px 8px;
            font-family: $mainFont;
            font-size: 20px;
            margin: 0;
            background: red;
            color: #fff;
            p {
                margin: 0;
            }
        }
        .checkout__basket:hover {
            background: rgb(206, 1, 1);
        }
        .checkoutProduct {
            img {
                display: none;
            }
            .checkoutProduct__info {
                display: flex;
                justify-content: unset;
                .checkoutProduct__description {
                    display: none;
                }
            }
        }
        button {
            color: red;
            border: none;
            background: none;
            font-weight: bold;
            font-size: 16px;
        }
        button:hover {
            cursor: pointer;
        }
    }
}