.product {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    margin: 24px;
    padding: 16px;
    position: relative;
    .added {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: .5s ease;
        background-color: #fff;
        span {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: red;
            svg {
                width: 40px;
                height: 40px;
            }
        }
    }
    .product__info {
        h4 {
            font-family: $mainFont;
            font-size: 24px;
            color: red;
            margin-top: 20px;
            margin-bottom: 16px;
        }
    }
    .itemNumber {
        font-family: $mainFont;
        border-radius: 50%;
        background: red;
        height: 46px;
        width: 46px;
        margin: 8px;
        p {
            margin: 0;
            padding: 0;
            font-size: 55px; // padding: 0 0 0 15px;
            color: white;
            padding-left: 8px;
        }
    }
}

.product:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.product>img {
    width: 150px;
    object-fit: contain;
    margin-left: 16px;
}

.product>button {
    background: red;
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.product__info {
    margin-bottom: 15px;
}