.product {
    border: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 31%;
    margin-bottom: 32px;
    .product__info {
        margin-top: 5px;
    }
}

.product>img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background: red;
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}